<p>cadastro-aluno-template works!</p>
  <form #form="ngForm" (ngSubmit)="onSubmit()" class="container my-5">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome Completo</label>
      <input  
      id="nome" 
      type="text" 
      class="form-control"
      [ngClass]="{
        'is-valid': nome.valid,
        'is-invalid': nome.invalid && nome.touched
      }"
      name="nome" 
      [(ngModel)]="aluno.nome"
      #nome="ngModel"
      minlength="8"
      required
      />

      <div *ngIf="nome.touched && nome.invalid" class="invalid-feedback">
        Nome é inválido
      </div>
      <div *ngIf="nome.valid" class="valid-feedback">
        Tudo certo
      </div>
    </div>

    <div class="mb-3">
      <label for="email" class="form-label">E-mail</label>
      <input 
      type="email" 
      id="email" 
      class="form-control" 
      name="email" 
      [(ngModel)]="aluno.email"
      #email="ngModel"
      [ngClass]="{
        'is-valid': email.valid,
        'is-invalid': email.invalid && email.touched
      }"
      required
      />
      <div *ngIf="email.touched && email.invalid" class="invalid-feedback">
        E-mail inválido
      </div>
    </div>

    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição do Aluno</label>
      <textarea 
      class="form-control" 
      id="descricao" 
      rows="3" 
      maxlength="140" 
      name="descricao" 
      [(ngModel)]="aluno.descricao"
      #desc="ngModel"
      [ngClass]="{
        'is-valid': desc.valid,
        'is-invalid': desc.invalid && desc.touched
      }"
      minlength="30"
      maxlength="140"
      required
      >
    </textarea>
    <div *ngIf="desc.touched && desc.invalid" class="invalid-feedback">
      <div *ngIf="desc.errors?.['required']">Descrição obrigatória</div>
      <div *ngIf="desc.errors?.['minlength']">Tamanho mínimo de 30 caracteres</div>
    </div>
    </div>

    <div class="mb-3">
      <label for="nivel" class="form-label">Nível de Ensino</label>
      <select 
      id="nivel" 
      class="form-select" 
      name="nivel" 
      [(ngModel)]="aluno.nivel"
      #nivel="ngModel"
      [ngClass]="{
        'is-valid': nivel.valid,
        'is-invalid': nivel.invalid && nivel.touched
      }"
      required
      >
        <option value="1">Ensino Fundamental I</option>
        <option value="2">Ensino Fundamental II</option>
        <option value="3">Ensino Médio</option>
        <option value="4">Ensino Superior</option>
        <option value="5">Mestrado</option>
        <option value="6">Doutorado</option>
        <option value="7">Ignorado</option>
      </select>
      <div *ngIf="nivel.touched && nivel.invalid" class="invalid-feedback">
        Selecione uma opção válida
      </div>
    </div>

    <div class="mb-3">
      <div class="form-check">
        <input 
        class="form-check-input" 
        type="checkbox" 
        name="usuario-sistema" 
        id="usuario-sistema" 
        [(ngModel)]="aluno.usuarioAtivo"
        />
        <label class="form-check-label" for="usuario-sistema">
          Usuário do Sistema?
        </label>
      </div>
    </div>

    <div class="mb-3" *ngIf="aluno.usuarioAtivo">
      <label for="senha" class="form-label">Senha</label>
      <input 
      id="senha" 
      type="password" 
      class="form-control" 
      name="senha" 
      [(ngModel)]="aluno.senha"
      #senha="ngModel"
      [ngClass]="{
        'is-valid': senha.valid,
        'is-invalid': senha.invalid && senha.touched
      }"
      required
      >
      <div *ngIf="senha.touched && senha.invalid" class="invalid-feedback">
        Defina uma senha para o usuário
      </div>
    </div>


    <div class="mb-3">
      <label for="cidade" class="form-label">Cidade</label>
      <input 
      id="cidade" 
      type="text" 
      class="form-control" 
      name="cidade"
      [(ngModel)]="aluno.endereco.cidade"
      #cidade="ngModel"
      [ngClass]="{
        'is-valid': cidade.valid,
        'is-invalid': cidade.invalid && cidade.touched
      }"
      required
      >
      <div *ngIf="cidade.touched && cidade.invalid" class="invalid-feedback">
        Cidade inválida
      </div>
    </div>

    <div class="mb-3">
      <label for="estado" class="form-label">Estado</label>
      <input 
      id="estado" 
      type="text" 
      class="form-control" 
      name="estado" 
      [(ngModel)]="aluno.endereco.estado"
      #estado="ngModel"
      [ngClass]="{
        'is-valid': estado.valid,
        'is-invalid': estado.invalid && estado.touched
      }"
      required
      minlength="2"
      maxlength="2"
      >
      <div *ngIf="estado.touched && estado.invalid" class="invalid-feedback">
        Estado inválido
      </div>
    </div>
    
    <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Enviar</button>
  </form>